@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  overflow-x: hidden !important;

}

.container {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  background-color: #b3d6dd;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
}

.infoSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#resume {
  width: 50%;
  height: 150vh;
}


.cv-categories {
  margin: 1rem auto;
  text-align: center;
  width: 75%;
  height: 75%;
  background-color: #eeeded;
  padding: .5rem;
  border: 1px solid black;
}


.div-top {
  width: 3rem; 
  height: 3rem; 
  background: linear-gradient(to bottom, black 50%, white 50%);
  border: 1px solid black;
}

.div-left {
  width: 3rem; 
  height: 3rem; 
  background: linear-gradient(to right, black 50%, white 50%);
  border: 1px solid black;
}

.div-right {
  width: 3rem; 
  height: 3rem; 
  background: linear-gradient(to left, black 50%, white 50%);
  border: 1px solid black;
}

.btnEdit {
  width: 6rem;
  height: 7rem;
  background-color: #fff;
  text-align: center;
}

.btnEdit img {
  width: 30px;
  height: 30px;
}
